[user]
  name = Glenn Morton
  email = glenn@sandcastle.io

[github]
  user = sandcastle

[alias]
  up          = push -u origin
  down        = pull --rebase
  sync        = "!sh -c 'git down; git up' -"

  st          = status --short
  stv         = status -v

  save        = "!sh -c 'git add -A .; git commit -m \"$1\"' -"
  saveall     = "!sh -c 'git commit -au -m \"$1\"' -"
  discard     = checkout -- .
  discardall  = reset --hard
  undo        = reset HEAD~1 --mixed

  feat        = "!sh -c 'git branch \"$1\"; git checkout \"$1\"' -"
  rmfeat      = !sh "$HOME/dev/dotfiles/git-extras/git-branch-delete.sh"

  setup       = !sh "$HOME/dev/dotfiles/git-extras/git-setup.sh"
  first       = commit -au -m 'Initial commit.'

  graph       = log --graph
  last        = log -n 10
  url         = !git remote -v|sed "'s|.*git[:@]\\(.*\\).git.*|http://\\1|;s|m:|m/|'"|uniq|xargs open
  whois       = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"

  changelog   = !sh "$HOME/dev/dotfiles/git-extras/git-changelog.sh"
  rstatus     = !sh "$HOME/dev/dotfiles/git-extras/git-rstatus.sh"
  release     = !sh "$HOME/dev/dotfiles/git-extras/git-release.sh"
  summary     = !sh "$HOME/dev/dotfiles/git-extras/git-summary.sh"

  rmtag       = "!sh -c 'git tag -d $1; git push origin :refs/tags/$1'"
  pr          = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1; } ; f"
  ghfork      = !sh "$HOME/dev/dotfiles/git-extras/git-ghpull.sh"
  cleanup     = !ruby "$HOME/dev/dotfiles/git-extras/git-cleanup.rb"

[push]
  default = current

[color]
  ui = auto

[core]
  editor = code
  excludesfile = ~/.gitignore

[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
  graph = true

[advice]
  statusHints = false

[log]
  abbrevCommit = true

# URL shorthands
# gh:sandcastle/dotfiles
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "gh:"
  pushInsteadOf = "git://github.com/"

# gist:3928760
[url "git@gist.github.com:"]
  insteadOf = "gist:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[mergetool]
  keepBackup = false

[ghi]
  token = !security find-internet-password -a sandcastle -s github.com -l 'ghi token' -w

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
