# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*~

# OS or Editor folders
.DS_Store
.cache
thumbcache_*.db
iconcache_*.db
[tT]humbs.db
[tT]humbs.db:encryptable
ehthumbs.db

# Folders to ignore
.hg
.svn

# Node.js package manager
/node_modules
/npm-debug.log

# Other stuff
*.pyc
/tmp
